# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\shadon\Documents\Uni-Dir-Across-PCs\2. Studienjahr\4-Semester\TRPP\java5thSemester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
